<ion-header>
  <ion-toolbar>
    <ion-title color="light">Nouvelle PRC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card (click)="clientModal()">
          <ion-button color="medium" expand="block">Choisir un Client</ion-button>
        </ion-card>
      </ion-col>
      <ion-col col-12>
        <ion-card>
          <ion-button color="medium" expand="block">Choisir un Grossiste</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
        
</ion-content>
