<ion-content>

  <div class="padding">

    <div class="logo">
      <!-- <ion-icon color="light" name="logo-octocat"></ion-icon> -->
      <img src="../../assets/agrolinelogo.png" alt="">
    </div>

    <br>

    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">

      <ion-item>
        <ion-label color="light">Login</ion-label>
        <ion-input color="light" placeholder="Entrer votre login" type="text" [(ngModel)]="login" ngModel name="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" placeholder="Entrer votre mot de passe" type="password" [(ngModel)]="motDePasse" ngModel name="motDePasse"></ion-input>
      </ion-item>

      <ion-item lines="none"> 
        <ion-button [class.button-disabled]="1 == 1" slot="end" fill="clear" color="light">Mot de passe oublié</ion-button>
      </ion-item>

      <ion-button [class.button-disabled]="motDePasse == null" color="light" fill="outline" type="submit" shape="round" expand="block">Connexion</ion-button>

    </form>
  

  </div>

</ion-content>
