ion-content{
    --ion-background-color: linear-gradient(#1f9848, #ca232a);
}

ion-item{
    --ion-background-color: transparent!important; // important propriete prioritaire
}

.padding{
    padding: 5%;
}


.logo{
    height: 250px;
    position: relative;
}

.logo ion-icon{
    position: absolute;
    font-size: 9em;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.logo img {
    position: absolute;
    height: 100px   ;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}