<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Prise de commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
  
    <ion-item-sliding *ngFor="let item of result">
   
      <ion-list>
        <ion-item>
         
          <ion-label><B> {{item.client}} </B></ion-label>
          <p slot="end">{{item.chiffre}} fcfa</p>
          
        </ion-item> 
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteItem(item)">Supprimer</ion-item-option>
          </ion-item-options>
     </ion-list> 

     

    </ion-item-sliding>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPrc()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
