<ion-header>
  <ion-toolbar>
    <ion-title color="light">Choisir un Client</ion-title>
    <ion-button color="medium" slot="end" (click)="closeModal()">
      <ion-icon name="close" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
