<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section>
      <h4>Gestion Des Ventes <br>
        AGROLINE
      </h4>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col col-6 tappable [routerLink]="['/prise-de-commande']">
        <ion-card>
          <ion-icon name="clipboard"></ion-icon>
          <h2>Prise de commande</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6 tappable [routerLink]="['/prise-de-commande']">
        <ion-card>
          <ion-icon name="clipboard"></ion-icon>
          <h2>Prise de commande</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
